<div class="container">
  <div class="row">
    <div class="
    col-lg-8 col-lg-offset-2
    col-md-10 col-md-offset-1
    ">
    $for(posts)$
      <div>
        <a href="$url$"><h1 class="post-title">$title$</h1></a>
        <div class="post-date">
          <span class="glyphicon glyphicon-calendar"></span> $date$
        </div>

        <div class="post">
          $if(teaser)$
            $teaser$ &hellip;
          $else$
            $body$
          $endif$
        </div>

        $if(teaser)$
          <a href="$url$">[read more]</a>
        $endif$

        <div class="tag-links">$tags$</div>
      </div>
      <hr>
    $endfor$
      <div class="pagination clearfix">                                                                                                     
        $if(previousPageNum)$
          <div class="newer-posts">
            <a href="$previousPageUrl$">&laquo; Newer Posts</a>
          </div>
        $endif$
        $if(nextPageNum)$
          <div class="older-posts">
            <a href="$nextPageUrl$">Older Posts &raquo;</a>
          </div>
        $endif$
      </div>
    </div>
  </div>
</div>
